manifest {
  icon = 'https://cdn.iconscout.com/icon/premium/png-512-thumb/monster-175-900500.png'
}
profiles {
    docker {
        docker {
            enabled = true
            fixOwnership = true
        }

        process {
            container = 'quay.io/nextflow/bash'
        }

    }
}
